.history-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 40px;
}
.history-section h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: rgba(34, 34, 34, 1);
}
.history-section h1 span {
  color: rgba(186, 93, 44, 1);
  display: inline-block;
  margin-right: 8px;
}
.history-section p {
  font-size: 16px;
  line-height: 1.6;
  color: rgba(35, 82, 117, 1);
}
