.navHome {
  margin-bottom: 100px;
}
.titleMainHome {
  margin: 0;
}
.nav__menu a {
  color: white !important;
}
.nav__icons svg {
  color: white;
}
/* card */
.cardBox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-items: center;
}
.card {
  width: 100%;
  max-width: 320px;
}
.card__image {
  width: 100%;
  height: 200px;
  position: relative;
  overflow: hidden;
}
.card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card__actions {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-color: rgba(0, 0, 0, 0.45);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}
.card__image:hover .card__actions {
  opacity: 1;
  pointer-events: auto;
}
.card__actions button {
  padding: 10px 18px;
  border-radius: 8px;
  border: none;
  background-color: #484643;
  color: white;
  cursor: pointer;
}

.card__actions button:hover {
  background-color: #b87c0d;
}
.card__content {
  padding: 12px 0;
  text-align: center;
}

.card__content h3 {
  font-size: 18px;
}

.card__content p {
  font-size: 16px;
  color: black;
}
.allProdcuts {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.allProdcuts__btn {
  padding: 12px 36px;
  margin-bottom: 30px;
  background-color: rgb(214, 148, 16);
  color: white;
  border: none;
}
/*  */
/*  */
@media (max-width: 820px) {
  .headerHome {
    margin: 0;
  }
  .cardBox {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }

  .card__actions {
    position: relative;
    top: 4rem;

    opacity: 1;
    background-color: transparent;
  }
  .allProdcuts {
    margin: 0;
    padding: 0;
    padding-bottom: 50px;
  }
}
@media (max-width: 327px) {
  .nav__icons svg {
    margin-top: 20px;
    color: rgb(255, 255, 255) !important;
  }
  .titleMain {
    text-align: center;
    justify-content: center;
  }
  .titleMain button {
    text-align: center;
    display: block;
  }
}
