.layout {
  display: flex;
  align-items: flex-start;
}
.sidebar {
  position: sticky;
  top: 0;
  width: 360px;
  height: calc(100vh - 200px);
  background-color: #f7f7f7;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
}
.sidebar__search {
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
}
.sidebar__title {
  font-size: 18px;
}
.sidebar__buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sidebar__btn {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
  background-color: white;
  cursor: pointer;
}
.sidebar__buttons button:hover {
  background-color: #d69410;
  color: white;
}
.sidebar__range {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sidebar__range input {
  width: 100%;
}
.products {
  margin-left: 10px;
  width: 100%;
  height: calc(100vh - 200px);
  overflow-y: auto;
  padding: 20px;
}
.cardBox {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 25px;
}
.card {
  background-color: #fff;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease;
}
.card:hover {
  transform: translateY(-6px);
}
.card__image {
  position: relative;
  height: 200px;
}
.card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card__actions {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-color: rgba(0, 0, 0, 0.45);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}
.card:hover .card__actions {
  opacity: 1;
  pointer-events: auto;
}
.card__actions button {
  padding: 10px 18px;
  border-radius: 8px;
  border: none;
  background-color: #353432;
  color: white;
  cursor: pointer;
}
.card__actions button:hover {
  background-color: #b87c0d;
}
.card__content {
  padding: 14px;
  text-align: center;
}
.card__content h3 {
  font-size: 16px;
  margin-bottom: 6px;
}
.card__content p {
  font-size: 15px;
  font-weight: 600;
  color: #d69410;
}
@media (max-width: 820px) {
  .cardBox {
    margin-bottom: 50px;
  }

  .card {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .card__actions {
    position: relative;
    top: 3rem;
    opacity: 1;
    background-color: transparent;
  }

  .card__image img {
    height: 180px;
  }
}
@media (max-width: 590px) {
  .layout {
    flex-direction: column;
  }

  .sidebar {
    position: static;
    width: 100%;
    height: auto;
  }

  .products {
    margin-left: 0;
    width: 100%;
    height: auto;
    overflow: visible;

    padding: 15px;
  }

  .cardBox {
    grid-template-columns: 1fr;
  }

  .page {
    padding-left: 0;
    text-align: center;
  }
}
