* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-width: 380px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
.nav__menu {
  display: flex;
  gap: 25px;
  list-style: none;
}
.nav__menu a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 20px;
}
.nav__icons {
  display: flex;
  align-items: center;
}
.nav__icons svg {
  width: 40px;
  cursor: pointer;
}
/* home */
.headerHome {
  background-image: url("./img/Rectangle 37 (1).png");
  min-height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 40px;
}
.titleMain {
  display: flex;
  flex-direction: column;

  gap: 30px;
  margin-left: 40px;
}
.titleMain h1,
p {
  color: white;
}
.titleMain h1 {
  font-size: 30px;
}
.titleMain p {
  font-size: 18px;
}
.titleMain button {
  background-color: transparent;
  width: fit-content;
  color: white;
  padding: 12px 28px;
  border: 1px solid white;
  cursor: pointer;
  transition: all 0.3s ease;
}
.titleMain button:hover {
  background-color: white;
  color: black;
}

/* другая страница  */

.mainPage {
  width: 100%;
  height: 150px;
  background-color: rgba(241, 245, 248, 1);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.mainPage h2 a {
  color: rgba(35, 82, 117, 1);
  text-decoration: none;
}
.page {
  padding-left: 30px;
  color: rgba(35, 82, 117, 1);
  margin: 0;
}
/*  */

/*  */
/*  */
@media (max-width: 820px) {
  .nav {
    flex-direction: column;
    gap: 10px;
  }
  .nav__logo {
    height: 70px;
  }
  .nav__menu {
    order: 2;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    z-index: 10;
  }
  .nav__menu a {
    font-size: 16px;
  }
  .nav__icons {
    order: 3;
  }
  .titleMain {
    align-items: center;
    margin: 0;
  }
}
@media (max-width: 590px) {
  .nav__menu {
    flex-direction: row;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #333;
    padding: 0 20px;
  }
  .nav__menu a {
    color: white;
  }
  .nav__icons {
    position: fixed;
    bottom: 12px;
    right: 10px;
    z-index: 100;
  }
  .nav__icons svg {
    width: 36px;
    color: white;
  }
}
@media (max-width: 327px) {
  .nav__logo {
    margin: 10px auto;
    height: 70px !important;
  }

  .nav__menu {
    position: relative;
    flex-direction: column !important;
    gap: 10px !important;
    background-color: transparent !important;
    margin-bottom: 10px;
  }
  .nav__menu a {
    font-size: 14px;
    color: black;
  }
  .nav__icons {
    position: relative;
    left: 0%;
  }
  .nav__icons svg {
    margin-top: 20px;
    color: black !important;
  }
}

/*  */
